				<!DOCTYPE html>
				<html>
				<head>
					<title>Accolite Products</title>
					<link rel="stylesheet" type="text/css" href="./materialize/css/materialize.min.css">
					<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
					<link rel="stylesheet" type="text/css" href="main.css">
					
				</head>
				<body ng-app="myApp" style="background-color:#FFFFE8">
				<div class="container" ng-controller="MainCtrl">
				<nav>
				    <div class="nav-wrapper">
				      <a href="#" class="brand-logo" style="height: 100%;width: 100%;">
				      <img src="logo.png" style="height:100%">
				      </a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li> <b> API HITS : </b> {{api_hits.api_hits}}</li>
				        <li><b> Total Products : </b> {{menu.length}}</li>
				        <li><b> Total Likes : </b> {{ getTotalLikes() }}</li>
				      </ul>
				    </div>
				  </nav>
				<form>
				        <div class="input-field" style="margin-top: 4%;">
				          <input id="search" type="search" ng-model="searchText" required>
				          <label for="search"><i class="material-icons">search</i></label>
				          <i class="material-icons">close</i>
				        </div>
				</form>
				<div ng-view>

				<form action="#">
	    <b>Sort By: </b>
	      <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
	      <input name="group1" type="radio" id="test1" ng-click="order('name')"/>
	      <label for="test1">Name</label>
	   
	    
	      <span class="sortorder" ng-show="predicate === 'rating'" ng-class="{reverse:reverse}"></span>
	      <input name="group1" type="radio" id="test2" ng-click="order('rating')"/>
	      <label for="test2">Rating</label>

	      <span class="sortorder" ng-show="predicate === 'likes'" ng-class="{reverse:reverse}"></span>
	      <input name="group1" type="radio" id="test3" ng-click="order('likes')"/>
	      <label for="test3">Likes</label>
	    
	  		</form>
	        
				<ul class="collapsible" data-collapsible="accordion">
				    <li ng-repeat="x in menu | filter:searchText | orderBy:predicate:reverse" style="margin-top: 2%;">
				      <div class="collapsible-header" onclick="setTimeout(changeIcon, 100); setTimeout(setRating, 10);" >
				      	<span><i class="small mdi-navigation-chevron-right"></i></span>
									<span><b> {{x.name}}</b></span><p style="margin-top: -3.5%;margin-left: 20%;"><span class="stars" value="{{x.rating}}"></span></p><p>
									<div style="margin-left: 85%;margin-top: -3%;" value="+1">{{x.likes}}<span></span><i class="like mdi-action-thumb-up" ng-click="updateLikes(x.name, x, 1)"></i><i class="like mdi-action-thumb-down" ng-click="updateLikes(x.name, x, -1)"></i></div>
									</p>
				      </div>
				      <div class="collapsible-body">
				      <div class="card blue-grey darken-1" style="margin-bottom: -20px;margin-top: 0px;">
				      	<div class="card-content white-text">
				      	<table>
				      		<tr>
				      			<td>
				      				<table>
				      	<th class="card-title"><h3>{{x.name}}</h3></th>
				      	<tr>
				      		<td><i class="Tiny material-icons">label</i><p style="margin-top: -13%;"><span ng-repeat="y in x.tags"> '{{y}}', </span></p></td>
				      	</tr>
				      	<tr>
				      		<td><p style="margin-top: -13%;"><span class="stars" value="{{x.rating}}">{{x.rating}}</span></p></td>
				      	</tr>
				      	<tr>
				      		<td><i class="Tiny material-icons">open_in_new</i><p style="margin-top: -13%;"> <a target="_blank" href="{{x.link}}" class="link">{{x.link}}</a></p></td>
				      	</tr>
				      	<tr>
				      		<td><i class="Tiny material-icons">description</i><h4 style="margin-left: 6%;margin-top: -7%;">Description</h4> <p style="margin-top: -8%;">{{x.description}}</p></td>
				      	</tr>
				      	</table>
				      			</td>
				      			<td>
				      				<div>
				      		<img src="{{x.image}}" style="width: 400px;max-height: 320px">
				      	</div>
				      			</td>
				      		</tr>
				      	</table>
				      	
				      	</div>
				      	</div>
				      	</div>
				      </div>
				    </li>
				  </ul>
				</div>
				</div>
				<script type="text/javascript" src="jquery-2.1.4.min.js"></script>
				<script src="angular.min.js"></script>
				<script src="./materialize/js/materialize.min.js"></script>
				<script src="main.js"></script>
				
				
				</body>
				</html>